extends layout

block content
  h1= title
  p 
    a.button(href='/books/new') Create New Book
  p
  form(action="/search", method='GET') 
    label(for="search") Search 
    input(type="text" name="search" id="search" value=search)
    input(type="submit" value="Search Books")
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title 
          td= book.author 
          td= book.genre 
          td= book.year
  
  if(books.length===0)
    p No results found
  
  if(pagesArray)
    p 
      each page in pagesArray
        a.button(href=`/books/page=${page}`)=page

  if(title==="Search Results")
    p
      a.button(href='/books') Clear Search